{% extends  'base.html.twig' %}

{% block title %}New Movie{% endblock %}

{% block body %}
  <div class="mt-5">
  {{ form_start(form) }}
  {{ form_widget(form) }}
  {{ form_end(form) }}
  </div>
{% endblock %}
